* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: yellow;
    border-radius: 20px;
    padding-top: 30px;
    text-align: center;
}

.name {
    margin: 20px 0 20px 0;
}

#name {
    margin-left: 10px;
}

.height {
    margin-bottom: 20px;
}

#height {
    margin-left: 9px;
}

.weight {
    margin-bottom: 20px;
}

#weight {
    margin-left: 19px;
}

button {
    height: 40px;
    width: 100px;
}

#result {
    margin-top: 20px;
}

p {
    margin: 30px 0 1px 52px;
    text-align: left;
}

.result {
    display: block;
    margin: auto;
    background-color: #FFF;
    height: 90px;
    width: 200px;
    padding: 1px;
    border-radius: 10px;
}